/* task_5/dashboard/src/App/App.css */

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, .App {
  background-color: #FFFFFF;
}

.App-body {
  flex: 1;
  padding: 20px;
  border-bottom: 3px solid red;
}

/* Styling for the table when isLoggedIn is true */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}
