/* task_5/dashboard/src/Notifications/Notifications.css */

.Notifications {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%; /* Adjust this value based on your preference */
  border: 1px rgb(221, 72, 72) dashed;
  padding: 5px;
  background-color: #fff8f8; /* Light red background for better visibility */
}

ul {
  list-style-type: none;
  padding: 0;
}

.menuItem {
  cursor: pointer; /* To indicate it's clickable */
  padding: 10px;
  background-color: #f5f5f5; /* Light gray background */
  border-bottom: 1px solid #ddd; /* Border to separate from the content */
}

[data-notification-type="default"] {
  color: rgb(1, 1, 170);
}

[data-notification-type="urgent"] {
  color: rgb(255, 60, 0);
}
