/* task_5/dashboard/src/Notifications/Notifications.css */

.Notifications {
  border: 1px rgb(221, 72, 72) dashed;
  padding: 5px;
}

[data-notification-type="default"] {
  color: rgb(1, 1, 170);
}

[data-notification-type="urgent"] {
  color: rgb(255, 60, 0);
}
