.App-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: white;
    border-bottom: 3px solid red;
  }
  
  .App-header h1 {
    color: red;
  }
  
  .App-header img {
    height: 250px;
    margin-right: 20px;
  }
  